/* variables */
:root {
  --min-mobile-width: 330px;
  --max-desktop-width: 1440px;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* global */

body {
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}

main {
  position: static;
  z-index: 2;
  display: flex;
  justify-content: center;
}

/* summary card */
.summarycard {
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  width: 90%;
  min-width: var(--min-mobile-width);
  max-width: 470px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.summarycard__hero {
  width: 100%;
  height: 30vw;
  max-height: 220px;
  min-height: 190px;
  background: url("../../images/illustration-hero.svg");
  background-size: cover;
  background-position: center center;
  border-radius: 20px 20px 0 0;
}

.summarycard__content {
  padding: 48px;
}
.summarycard__content h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: var(--dark-blue);
}

.summarycard__content > p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--desaturated-blue);
  margin-top: 18px;
}

.summarycard__content__plan {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--very-pale-blue);
  border-radius: 11px;
  padding: 25px;
}

.summarycard__content__plan__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}

.summarycard__content__plan__info h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  color: var(--dark-blue);
}

.summarycard__content__plan__info p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--desaturated-blue);
  margin-top: 6px;
}

.summarycard__content__plan a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: var(--bright-blue);
  transition: color 200ms ease-in-out;
}

.summarycard__content__plan a:hover {
  color: #766cf1;
  text-decoration-line: none;
}

.summarycard__content__actions {
  margin-top: 32px;
  text-align: center;
}

.summarycard__content__actions button {
  width: 100%;
  padding: 15px 0;
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
  background: var(--bright-blue);
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  transition: background 200ms ease-in-out;
  border: none;
  outline-color: transparent;
}

.summarycard__content__actions button:hover {
  background: #766cf1;
}

.summarycard__content__actions a {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #717fa6;
  margin-top: 32px;
  display: inline-block;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

.summarycard__content__actions a:hover {
  color: #1f2e55;
}

/* graphic asset */
#graphic-asset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 1;
  background: url("../../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  transition: height 300ms ease-in;
}

/* media queries */

@media only screen and (max-width: 375px) {
  .summarycard__content h1 {
    font-size: 21px;
  }

  .summarycard__content > p {
    font-size: 14px;
  }

  .summarycard__content {
    padding: 28px;
  }

  .summarycard__content__plan {
    padding: 16px;
  }

  .summarycard__content__plan h3 {
    font-size: 13px;
  }

  .summarycard__content__plan p {
    font-size: 13px;
    margin-top: 4px;
  }

  .summarycard__content__plan a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .summarycard__content h1 {
    font-size: 22px;
  }

  .summarycard__content > p {
    font-size: 15px;
  }

  .summarycard__content {
    padding: 28px;
  }

  .summarycard__content__plan {
    padding: 17px;
  }

  .summarycard__content__plan h3 {
    font-size: 14px;
  }

  .summarycard__content__plan p {
    font-size: 14px;
    margin-top: 4px;
  }

  .summarycard__content__plan a {
    font-size: 13px;
  }

  #graphic-asset {
    height: 32%;
    background: url("../../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
  }
}
